@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: linear-gradient(to bottom right, #111827, #4b5563);
  --text-color: #171717;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Geist, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 339px) {
  body {
    display: none;
  }
}
